Download the packages

In [0]:
!pip install -U -q PyDrive

In [0]:
import sqlite3
import numpy as np
import pylab as pl
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

from math import sqrt
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score

%matplotlib inline

Import the packages and Authenticate the user

In [0]:
import keras
import psutil
import pandas as pd
import tensorflow as tf
from google.colab import auth
from google.colab import files
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

Read the content of the sqllite database

In [0]:
file1 = drive.CreateFile({'id':'1B8Fu4lksbGYcus-_TuH5p_sEHs7S7X2S'})
file1.GetContentFile('database.sqlite.zip')

Check the sqllite database is present or not

In [24]:
!ls

adc.json  database.sqlite  database.sqlite.zip	sample_data

Unzip the content of the database

In [25]:
!unzip -qq database.sqlite.zip

replace database.sqlite? [y]es, [n]o, [A]ll, [N]one, [r]ename: A

Check again the file has been unziped or not

In [26]:
!ls

adc.json  database.sqlite  database.sqlite.zip	sample_data

Make the connection to the database and read the content

In [0]:
cnx = sqlite3.connect('database.sqlite')
df = pd.read_sql_query("SELECT * FROM Player_Attributes", cnx)

Fetch the first 5 records

In [28]:
df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

Get the shape of the dataframe

In [29]:
df.shape

(183978, 42)

Remove the missing values

In [0]:
df = df.dropna()

Get the independent columns as feature columns

In [0]:
features = [
       'potential', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes']

Get the target  column i.e overall rating column

In [0]:
target = ['overall_rating']

 Seperate the Features and Target ('overall_rating') Values into different Dataframes

In [0]:
X = df[features]
y = df[target]

Split the Dataset into Training and Test Datasets

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=25)

Using Linear Regression, Fit a model

In [35]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

Do Prediction using Linear Regression Model for test dataset

In [36]:
y_prediction = reg.predict(X_test)
y_prediction

array([[80.86504784],
       [62.47323238],
       [68.10603044],
       ...,
       [75.47242786],
       [75.42167822],
       [65.06405917]])

Summarize the expected target value in test set

In [37]:
y_test.describe()

       overall_rating
count    54107.000000
mean        68.640084
std          7.050012
min         33.000000
25%         64.000000
50%         69.000000
75%         73.000000
max         94.000000

Evaluate Linear Regression Accuracy using Root Mean Square Error and print the result

In [38]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))
RMSE

2.8143667475933287